.add-score-form {
    margin: 16px;
    max-width: 600px;
  
    .input-nickname {
      width: 100%;
    }
  
    .input-game {
      margin-right: 20px;
    }
  
    .form-button {
      display: block;
    }
  }
  